/nolebotv2core/.gradle/
/nolebotv2core/logs
/nolebotv2core/config
/nolebotv2core/build
/nolebotv2webapi/build
config/*
!config/checkstyle/
/build/
/nolebotv2webapi/src/main/resources/application.yml
/nolebotv2web/src/entities/JavaGenerated.ts


nolebotv2webapi/Thumbs.db
nolebotv2webapi/.DS_Store
nolebotv2webapi/.gradle
nolebotv2webapi/build/
nolebotv2webapi/target/
nolebotv2webapi/out/
nolebotv2webapi/.idea
nolebotv2webapi/*.iml
nolebotv2webapi/*.ipr
nolebotv2webapi/*.iws
nolebotv2webapi/.project
nolebotv2webapi/.settings
nolebotv2webapi/.classpath
nolebotv2webapi/.factorypath
/nolebotv2webapi/logs/
/shared/build/
/.gradle/
/buildSrc/.gradle/
/buildSrc/build/

gradle.properties