/nolebotv2core/.gradle/
/nolebotv2core/logs
/nolebotv2core/config
/nolebotv2core/build
/nolebotv2webapi/build
/config/
/build/
/nolebotv2webapi/src/main/resources/application.yml


nolebotv2webapi/Thumbs.db
nolebotv2webapi/.DS_Store
nolebotv2webapi/.gradle
nolebotv2webapi/build/
nolebotv2webapi/target/
nolebotv2webapi/out/
nolebotv2webapi/.idea
nolebotv2webapi/*.iml
nolebotv2webapi/*.ipr
nolebotv2webapi/*.iws
nolebotv2webapi/.project
nolebotv2webapi/.settings
nolebotv2webapi/.classpath
nolebotv2webapi/.factorypath